archivos-para-guia-32/parte-2/fichero2b.dtd

<!—fichero2b.dtd -->
<!DOCTYPE fichero 
[
		<!ELEMENT fichero (ficha+)>
		<!ELEMENT ficha (nombre, apellido, direccion*, DUI, estado)>
		<!ELEMENT nombre (#PCDATA)>
		<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
		<!ATTLIST nombre tez (morena|caucacica|asiatica|latina) #REQUIRED>
        <!ATTLIST nombre edad  CDATA  #IMPLIED>
		<!ELEMENT apellido (#PCDATA)>
		<!ELEMENT direccion (#PCDATA)>
		<!ELEMENT DUI (#PCDATA)>		
		<!ELEMENT estado (#PCDATA) >
		]>